.btn-export {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FC64FF;
    --bs-btn-border-color: #FC64FF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FC64FF;
    --bs-btn-hover-border-color: #DE50E1;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FC64FF;
    --bs-btn-active-border-color: #DE50E1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FC64FF;
    --bs-btn-disabled-border-color: #FC64FF
}